version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/data"
    schedule:
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
