AWS_REGION="eu-central-1"
# https://docs.aws.amazon.com/msk/latest/developerguide/msk-get-bootstrap-brokers.html
AWS_MSK_BOOTSTRAP_SERVER="boot-example.c2.kafka-serverless.eu-central-1.amazonaws.com:9098"
AWS_MSK_TOPIC_NAME="realtime-demo"
AWS_MSK_TOPIC_PARTITIONS=1
AWS_MSK_TOPIC_REPLICATION=2

# Wait time between sending documents to MSK in seconds
PRODUCER_WAIT_TIME=0.01

# If true, the producer will not download a new report but re-use a previous
# one already present on the file system
SKIP_DOWNLOAD=true
